<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95388415799-t86k0jq0v8v5g8tsoo1vmlj4lh6q06ln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95388415799-t86k0jq0v8v5g8tsoo1vmlj4lh6q06ln</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>95388415799-78bqql7irl253o9rmm086kc1osq60l8c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCa6YjqK0k_t3yM7-K634lRdqeqEgY9OVs</string>
	<key>GCM_SENDER_ID</key>
	<string>95388415799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.serenestream.health</string>
	<key>PROJECT_ID</key>
	<string>serenestream-2ed81</string>
	<key>STORAGE_BUCKET</key>
	<string>serenestream-2ed81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95388415799:ios:59d8c56041c552396c8cb2</string>
</dict>
</plist>